<!--  -->
<nav id="navNavbar" class="navbar bg-body-tertiary fixed-top nav_margin_05" style="background-color: transparent;padding-top: 0;padding-bottom: 0;">
    <div class="container-fluid d-flex justify-content-between align-items-center navbar_768" style="padding-top: .75rem;padding-bottom: .75rem;">

        <div class="d-flex justify-content-center logo_fc logo_abs align-items-center">

            <div class="me-3 d-none_max_576 mb-0 mt-2">
                <a class="dynamic" href="/" style="font-weight: 600;font-size: 1.35rem;letter-spacing: -1px;text-decoration: none;">
                    Vis-Music
                </a>
            </div>

            <div class="brand_divider d-none_max_992"></div>

            <div class="ms-3 d-none_max_992">

                <!-- <h6 class="mt-2 dynamic mb-0">
                    28-30.06.24
                </h6> -->
                <!-- <h6>
                    Vis Island
                </h6> -->

            </div>
        </div>


        <div class="order_1">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class=" order_2">
            <ul class="mb-0 mb-lg-0 d-flex w-100 ls-none align-items-center px-5">

                <li class="nav-item me-4 d-none_max_768">
                    <a class="nav-link dynamic" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;">Contact</a>
                </li>
                <!-- <li class="nav-item">

                    <div class="ticket_button"> <a class="txt_decoration" style="color:white" href="https://www.entrio.hr/en/event/music-breeze-vis-18574"> Tickets </a> </div>
                </li> -->
                <li class="nav-item">

                    <div class="wp-block-button button--tertiary programme__schedule-cta position-relative">
                        <button id="submitBtn" type="submit" class="wp-block-button__link" style="background-color: transparent;border: 0;font-weight: 700;">Tickets</button>
                    </div>
                </li>


            </ul>
        </div>



    </div>
</nav>