{% extends "core/base.html" %} {% block title %} Contact | {% endblock title %} {% load static %} {% block content %}

<section id="contact_vis">


    <div class="container-flud p-0 banner_vis_wd_ht_light banner_bg position-relative -lg" style="height: 400px;">
        <div class="fixed-top nav_mask dynamic_mask" style="width: 100%;height: 70px;background-color: #09242d;z-index: 2;"></div>
        <div class="banner_mask">

            <div class="banner_text padd_banner_caption_light banner-caption_light">

                Vis Music Breeze
                <h2 class="mt-3" style="color:#09242d; font-weight: 300;">Contact</h2>

                <!-- banner css -->
                <style>
                    #programme_vis h5 {
                        font-size: 1rem;
                    }
                    
                    .banner_mask {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        background-size: 100%;
                        /* background-color: rgba(0, 0, 0, .75); */
                        /* background-color: rgba(29, 41, 50, .92); */
                        background-color: rgb(255, 255, 255, .82);
                        z-index: 1;
                    }
                    
                    .banner_vis_wd_ht_light {
                        background-image: url(../../../static/img/vis-2jpg.jpg);
                        background-repeat: no-repeat;
                        width: 100%;
                        height: auto;
                        background-size: cover;
                        background-position: right 35% bottom 10%;
                    }
                    
                    .banner-caption_light {
                        z-index: 5;
                        white-space: normal;
                        font-size: 5rem;
                        line-height: 1;
                        font-weight: 700;
                        color: rgb(255, 255, 255);
                        letter-spacing: -1px;
                        border-width: 0px;
                        margin: 0px;
                        margin-bottom: 2rem;
                        color: whitesmoke;
                        color: #d8a44f;
                    }
                    
                    .padd_banner_caption_light {
                        padding: 10.5% 10% 0 10%;
                    }
                    
                    @media (max-width:1400px) {
                        .banner-caption_light {
                            font-size: 4rem;
                        }
                        .padd_banner_caption_light {
                            padding: 20.5% 10% 0 10%;
                        }
                    }
                    
                    @media (max-width:992px) {
                        .padd_banner_caption_light {
                            padding: 22.5% 10% 0 10%;
                        }
                    }
                    
                    @media (max-width:768px) {
                        .padd_banner_caption_light {
                            padding: 35.5% 5% 0 5%;
                        }
                        .banner-caption_light {
                            font-size: 3rem;
                        }
                    }
                    
                    @media (max-width:576px) {
                        .padd_banner_caption_light {
                            padding: 40.5% 5% 0 5%;
                        }
                        .banner-caption_light {
                            font-size: 4rem;
                            text-align: center;
                        }
                    }
                    
                    .y_divider {
                        background-color: #4a677c;
                        width: 1px;
                        margin: 0 40px 0 10px;
                        height: 150px;
                    }
                    
                    .bran_logo_container {
                        left: 5%;
                        bottom: -10%;
                        width: 50%;
                        height: 200px;
                        background-color: #e2b365;
                    }
                    
                    .brand_logo_tzv {
                        width: auto;
                        height: 125px;
                    }
                    
                    .brand_logo_3gonga {
                        font-size: 2.5rem
                    }
                    
                    @media (max-width:768px) {
                        .brand_logo_tzv {
                            width: auto;
                            height: 65px;
                        }
                        .brand_logo_3gonga {
                            font-size: 1.2rem;
                            margin-top: 1rem;
                        }
                        .bran_logo_container {
                            left: 5%;
                            bottom: -11.5%;
                            width: 90%;
                            height: 100px;
                            background-color: #e2b365;
                        }
                        .y_divider {
                            width: 1px;
                            margin: 0 20px 0 10px;
                            height: 75px;
                        }
                    }
                </style>


            </div>
        </div>
    </div>

    <div class="pr_main_content">
        <!-- content css -->
        <div class="programme_content pr_my_6">

            <div class="programme_content">
                <div class="pr_mb-6">
                    <div class="pr_text_center heading--header" style="font-weight: 500;letter-spacing: -1px;">Contact us</div>
                </div>



                <!-- content programme -->
                <div class="container-fluid contact_content_my">

                    <div class="row">

                        <!-- area 1 -->
                        <div class="col-md-6 mb-md-5 overflow-hidden">
                            <form action="" method="get" novalidate class="overflow-hidden">
                                <div class="mb-4">
                                    <h3 class="font-bold"> CONTACT FORM</h3>
                                </div>

                                <!-- first name -->
                                <div class="col mb-3">
                                    <div class="position-relative">
                                        <label for="first-name" class="form-label input-text__label">
                                        First name <span class="text-danger">
                                            *
                                        </span>
                                            </label>
                                        <input type="text" class="form-control" placeholder="First name" id="first-name" required>

                                        <div class="valid-feedback">First name validated</div>

                                        <div class="invalid-feedback">
                                            Please enter a valid first name
                                        </div>
                                    </div>
                                </div>


                                <!-- last name -->
                                <div class="col mb-3">
                                    <div class="position-relative">
                                        <label for="last-name" class="form-label input-text__label">
                                        Last name 
                                            </label>
                                        <input type="text" class="form-control" placeholder="Last name" id="last-name" required>

                                        <div class="valid-feedback">Last name validated</div>

                                        <div class="invalid-feedback">
                                            Please enter a valid last name
                                        </div>
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class="col mb-3">
                                    <div class="position-relative">
                                        <label for="email" class="form-label input-text__label">
                                        Email<span class="text-danger">
                                            *
                                        </span>
                                            </label>
                                        <input type="email" class="form-control" placeholder="Email" id="email" required>

                                        <div class="valid-feedback">Email validated</div>

                                        <div class="invalid-feedback">
                                            Please enter a valid email
                                        </div>
                                    </div>
                                </div>


                                <!-- textarea -->
                                <div class="col c_mb-6">
                                    <div class="position-relative">
                                        <textarea name="" id="" class="form-control" placeholder="Type your massage...">
                                            
                                        </textarea>

                                        <label for="email" class=" input-text__label">
                                            MESSAGE<span class="text-danger">
                                                *
                                            </span>
                                                </label>

                                        <div class="valid-feedback">Message validated</div>

                                        <div class="invalid-feedback">
                                            Please enter a valid message
                                        </div>
                                    </div>
                                </div>

                                <!-- Checkbox 1 -->

                                <div class="col mb-3">
                                    <div class="div d-flex justify-content-between align-items-center">
                                        <h6 class="mb-3">Newsletter</h6>
                                        <h5 class="mb-3" style="font-size: 1rem;font-weight: 400;color:gray">Optional</h5>

                                    </div>

                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox" required>

                                        <label for="checkbox" class="form-check-label">
                                            I would like to sign up to the Montreux Jazz Festival newsletter to receive all the latest news
                                        </label>


                                        <div class="valid-feedback">Thanks for accepting the terms and conditions</div>

                                        <div class="invalid-feedback">
                                            Please agree to the terms and conditions
                                        </div>
                                    </div>
                                </div>

                                <hr>
                                <!-- Checkbox 2 -->

                                <div class="col mb-5">
                                    <h6 class="mb-3">Terms and conditions</h6>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox" required>

                                        <label for="checkbox" class="form-check-label">
                                            I agree to the terms and conditions
                                        </label>


                                        <div class="valid-feedback">Thanks for accepting the terms and conditions</div>

                                        <div class="invalid-feedback">
                                            Please agree to the terms and conditions
                                        </div>
                                    </div>
                                </div>

                                <!-- Submit button -->

                                <div class="col">

                                </div>
                                <div class="wp-block-button button--tertiary programme__schedule-cta position-relative">
                                    <button id="submitBtn" type="submit" class="wp-block-button__link" style="background-color: transparent;border: 0;font-weight: 700;">Submit</button>
                                </div>


                                <!-- <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput">Email address</label>
                                </div>


                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                    <label for="floatingTextarea">Comments</label>
                                </div> -->


                            </form>
                        </div>

                        <!-- area 2 -->
                        <div class="col-md-6 d-flex justify-content-center mt-md-5">

                            <div>
                                <div class="mb-5">
                                    <h3 class="fc-dark_black">ISLAND VIS MUSIC BREEZE FESTIVAL</h3>
                                    <h5 class="fc-dark_black">Lokacija, Prirovo polutotok, Vis </h5>
                                    <p class="fc-dark_black">Šetalište Apolonija Zanelle 24-6, Vis </p>
                                </div>
                                <div class="mb-5">
                                    <h3 class="mb-3" style="color:#1d2932">Organizer's contact</h3>

                                    <div class="d-flex align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                                          </svg>

                                        <a class="ms-2" style="font-size: .915;text-decoration: none;color:#47667d" href="mailto:advokat.iseini@gmail.com">musicbreeze.vis@gmail.com</a>
                                    </div>
                                </div>
                                <div class="google-map">
                                    <style>
                                        .google-map {
                                            padding-bottom: 50%;
                                            position: relative;
                                        }
                                        
                                        .google-map iframe {
                                            height: 100%;
                                            width: 100%;
                                            left: 0;
                                            top: 0;
                                            position: absolute;
                                        }
                                    </style>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2914.942080156324!2d16.183122943928318!3d43.063685705577086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133597ba0fdfb33d%3A0x8effa366a45d51b2!2sChurch%20of%20St.%20Jerome!5e0!3m2!1sen!2smk!4v1715862780829!5m2!1sen!2smk"
                                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>

                            </div>


                        </div>
                    </div>


                </div>

                <!-- end content programme -->
            </div>

        </div>


    </div>
</section>








{% endblock content %}