{% extends "core/base.html" %} {% block title %} Home | {% endblock title %} {% load static %} {% block content %}


<section>
    {% include 'core/banner.html' %}
</section>

<style>

</style>
<section>


    <div class="content_width position-relative">

        <style>
            .main_parteners {
                position: absolute;
                top: -20%;
                right: -2%;
                width: 300px;
                height: 100%
            }
            
            @media (max-width:1450px) {
                .main_parteners {
                    position: absolute;
                    top: -15%;
                    right: -2%;
                    width: 300px;
                    height: 100%
                }
            }
            
            @media (max-width:1200px) {
                .main_parteners {
                    position: absolute;
                    top: -15%;
                    right: -2%;
                    width: 300px;
                    height: 100%;
                    display: none;
                }
            }
        </style>
        <div class="main_parteners">
            <h5 class="mb-4" style="margin-left: -75px;">Main partners</h5>
            <div class="d-flex align-items-center">
                <div class="me-6">
                    <a class="font_logo" href="#" target="_blank">
                    </a>
                    <div class="me-3">
                        <a class="font_logo" href="#" target="_blank">
                        </a>
                        <a href="https://www.facebook.com/chateausopotmacedonia/" target="_blank">
                            <img class="partners_img" style="width: 85px;" src="/static/img/sopot_logo.png" alt="Chateau Sopot Makedonija ">
                        </a>

                    </div>

                </div>

                <div class="me-3">
                    <a class="font_logo" href="#" target="_blank">
                    </a>
                    <div class="me-6">
                        <a class="font_logo" href="#" target="_blank">
                        </a>
                        <a href="https://cetina.hr/" target="_blank">
                            <img class="partners_img" style="width: 85px;" src="/static/img/Cetina_negazirana_logo.png" alt="Cetina">
                        </a>

                    </div>

                </div>


            </div>

        </div>
        <div class="container-fluid d-flex justify-content-center">
            <div style="text-align: center;">
                <h1 class="trns-text_1">
                    What is Vis Music Breeze?
                </h1>

                <h3 class="present_font">
                    3 days of the
                </h3>
                <h3 class="present_font">
                    world's best music
                </h3>

                <h3 class="present_font">
                    in the heart of
                </h3>

                <h3 class="trns-text mt-1">

                    <div class="position-relative">
                        <div class="abs-csd">
                            <a href="https://www.tz-vis.hr/" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="32" fill="#e2b365" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"></path>
              </svg>
                            </a>
                        </div>
                    </div>


                    <a style="text-decoration-color: #e2b365;" href="https://www.tz-vis.hr/" target="_blank">
                        Vis island
                    </a>

                </h3>
            </div>
        </div>

        <div class="art_lineup d-flex justify-content-center a_lineup_my">
            <h1 class="a_lineup_fs line_d position-relative">Artist Line-up</h1>
        </div>


    </div>

    <!-- first_area 29/06/24-->
    <div class="first_area">
        <div class="winter-footer__content first_area_s1">

            <div class="timeline-item__year-background d-flex justify-content-end align-items-center curr_date shadow" style="
                background-color: whitesmoke;
                border-radius: 5px;
                text-align: center;
                filter: sepia(15%);
                border: solid 3px white;
            ">28/06/24
            </div>

            <div class="first_area_s3">


                <div class="l_janj_title">

                    <h2>The National Jazz Orchestra</h2>
                    <!-- <hr> -->
                </div>
                <!-- <hr> -->


            </div>

            <!-- The National Jazz Orchestra -->
            <div class="row g-0 first_area_s4">


                <div class="col-lg-9">
                    <img class="img-fluid" style="width: 875px;height: auto;filter: sepia(50%);" src="{% static 'img/ram16.jpg' %}" alt="">
                </div>
                <div class="col-lg-3">
                    <div class="h-100 col_9">

                        <p class="mb-3" style="color: white;">
                            28.06.2024
                        </p>
                        <h5 style=" padding-bottom: 1.5rem;color: white;font-weight: 600;">
                            What are the purposes and the activities of our Association?
                        </h5>
                        <p style="color: white;font-weight: 300;">
                            The main purpose that unites the activities of our association is to contribute to affirmation of Macedonian jazz music through promotion of production and performance of authorial jazz music created and performed by Macedonian jazz composers and musicians,
                            hence to increase their media presence and presentation at local festivals and abroad.
                        </p>


                        <div class="link" style="z-index: 1;">
                            <a href="{% url 'vis_breeze:jazz_orchestra' %}" style="text-decoration: none;"> <span> More Info </span>
                                <div class="button_animated"> <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M23.725 5.33638C23.7248 5.3361 23.7245 5.33577 23.7242 5.33549L18.8256 0.460497C18.4586 0.0952939 17.865 0.096653 17.4997 0.463684C17.1345 0.830668 17.1359 1.42425 17.5028 1.7895L20.7918 5.06249H0.9375C0.419719 5.06249 0 5.48221 0 5.99999C0 6.51777 0.419719 6.93749 0.9375 6.93749H20.7917L17.5029 10.2105C17.1359 10.5757 17.1345 11.1693 17.4998 11.5363C17.865 11.9034 18.4587 11.9046 18.8256 11.5395L23.7242 6.66449C23.7245 6.66421 23.7248 6.66388 23.7251 6.6636C24.0923 6.29713 24.0911 5.70163 23.725 5.33638Z" fill="#ffffff"></path> </svg>
                                    <div class="shape"></div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>



            <!-- Lana Janjanin -->

            <!-- Title -->
            <div class="l_janj_title">

                <h2>Lana Janjanin Quartet</h2>
                <!-- <hr> -->
            </div>

            <!-- Content -->
            <div class="row g-0 l_janj_cont">

                <div class="col-lg-3 order_1">
                    <div class="h-100 l_janj_m">

                        <p class="mb-3" style="color: white;">
                            28.06.2024
                        </p>
                        <h5 style=" padding-bottom: 1.5rem;color: white;font-weight: 600;">
                            Hidden behind this name is not only a personable woman, but also a musical luminary
                        </h5>
                        <p style="color: white;font-weight: 300;">
                            The 29-year-old composer, singer-songwriter and pianist Lana Janjanin was born in Zagreb, Croatia into a musical family. She started studying music at the age of 4 in her hometown, majoring in piano and music theory. At the age of 18 she enrolled in the
                            study of classical composition at the prestigious “University for Music and Performing Arts” in Vienna, Austria, as the youngest in her class. She majored in Media Composition, attaining a master’s degree at 23.
                        </p>
                        <!-- <p class="btn-outline-secondary"> </p>
                    <button type="button" class="btn btn-outline-secondary">More info</button> -->

                        <div class="link" style="z-index: 1;">
                            <!-- <a href="https://lanajanjanin.com/" style="text-decoration: none;"> <span> More Info </span> -->
                            <a href="{% url 'vis_breeze:lana_janjanin' %}" style="text-decoration: none;"> <span> More Info </span>
                                <div class="button_animated"> <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M23.725 5.33638C23.7248 5.3361 23.7245 5.33577 23.7242 5.33549L18.8256 0.460497C18.4586 0.0952939 17.865 0.096653 17.4997 0.463684C17.1345 0.830668 17.1359 1.42425 17.5028 1.7895L20.7918 5.06249H0.9375C0.419719 5.06249 0 5.48221 0 5.99999C0 6.51777 0.419719 6.93749 0.9375 6.93749H20.7917L17.5029 10.2105C17.1359 10.5757 17.1345 11.1693 17.4998 11.5363C17.865 11.9034 18.4587 11.9046 18.8256 11.5395L23.7242 6.66449C23.7245 6.66421 23.7248 6.66388 23.7251 6.6636C24.0923 6.29713 24.0911 5.70163 23.725 5.33638Z" fill="#ffffff"></path> </svg>
                                    <div class="shape"></div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>


                <div class="col-lg-9 order_2" style="display: flex;justify-content: end;">
                    <img class="img-fluid" style="width: 915px;height: auto;filter: sepia(0);" src="{% static 'img/lana_janjanin_1Edit.jpg' %}" alt="Lana Janjanin Quarter">
                </div>

            </div>

        </div>


    </div>


    <!-- second_area 29/06/24 -->
    <div class="first_area bg_t1">
        <div class="winter-footer__content first_area_s1 bg_t1">

            <div class="timeline-item__year-background d-flex justify-content-end align-items-center curr_date shadow" style="
                background-color: whitesmoke;
                border-radius: 5px;
                text-align: center;
                filter: sepia(15%);
                border: solid 3px white;
            ">29/06/24
            </div>

            <!-- Zashto Kafka -->
            <div class="row g-0 first_area_s4 l_janj_cont">

                <div class="col-lg-6 mar_r">
                    <img class="img-fluid shadow-lg" style="width: 875px;height: auto;filter: sepia(50%);" src="{% static 'img/zasto-kafka.jpg' %}" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="h-100 col_9 mar_l">
                        <div class="box_content" style="">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p class="mb-0 position-relative" style="color: white;">
                                        29.06.2024
                                    </p>
                                </div>

                                <div>
                                    <div class="ticket_buttonX" style="background-color: #fdce79;padding:.5rem 1rem;"> <a class="txt_decoration" style="color:#1d2932;font-weight: 800;" href="https://www.entrio.hr/en/event/music-breeze-vis-18574" data-wpel-link="internal">Buy Ticket</a> </div>
                                </div>
                            </div>
                            <hr>

                            <h2 class="mb-5" style="color: white;font-weight: 700;">
                                Zashto Kafka?
                            </h2>


                            <div class="link" style="z-index: 1;">
                                <a href="{% url 'vis_breeze:kafka' %}" style="text-decoration: none;"> <span> More Info </span>
                                    <div class="button_animated"> <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M23.725 5.33638C23.7248 5.3361 23.7245 5.33577 23.7242 5.33549L18.8256 0.460497C18.4586 0.0952939 17.865 0.096653 17.4997 0.463684C17.1345 0.830668 17.1359 1.42425 17.5028 1.7895L20.7918 5.06249H0.9375C0.419719 5.06249 0 5.48221 0 5.99999C0 6.51777 0.419719 6.93749 0.9375 6.93749H20.7917L17.5029 10.2105C17.1359 10.5757 17.1345 11.1693 17.4998 11.5363C17.865 11.9034 18.4587 11.9046 18.8256 11.5395L23.7242 6.66449C23.7245 6.66421 23.7248 6.66388 23.7251 6.6636C24.0923 6.29713 24.0911 5.70163 23.725 5.33638Z" fill="#ffffff"></path> </svg>
                                        <div class="shape"></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <style>
                .w-90 {
                    width: 85%;
                }
                
                .mar_l {
                    padding: 1.7rem 2.2rem 0 2.2rem;
                    padding-left: 17%;
                }
                
                .mar_r {
                    margin-right: -100px;
                }
                
                @media(max-width:768px) {
                    .w-90 {
                        width: 100%;
                    }
                    .mar_l {
                        padding-left: 0;
                        padding: 1.7rem 2.2rem 1.7rem 2.2rem;
                    }
                    .mar_r {
                        margin-right: 0;
                    }
                }
            </style>

            <!-- Vlatko Stefanovski Trio -->
            <div class="row g-0 l_janj_cont">

                <div class="col-lg-6 order_1" style="margin-right: -100px;">
                    <div class="h-100 l_janj_m shadow-lg">
                        <div class="box_content">
                            <div class="d-flex align-items-center justify-content-between w-90">
                                <div>
                                    <p class="mb-0 position-relative" style="color: white;">
                                        29.06.2024
                                    </p>
                                </div>

                                <div>
                                    <div class="ticket_buttonX" style="background-color: #fdce79;padding:.5rem 1rem;"> <a class="txt_decoration" style="color:#1d2932;font-weight: 800;" href="https://www.entrio.hr/en/event/music-breeze-vis-18574" data-wpel-link="internal">Buy Ticket</a> </div>
                                </div>
                            </div>
                            <hr>
                            <!-- <h5 style=" padding-bottom: 1.5rem;color: white;font-weight: 600;">
                            Storytelling
                             </h5> -->
                            <h2 class="w-90 mb-5" style="color: white;font-weight: 700;">
                                Vlatko Stefanovski Trio
                            </h2>


                            <div class="link" style="z-index: 1;">
                                <a href="{% url 'vis_breeze:vlatko' %}" style="text-decoration: none;"> <span> More Info </span>
                                    <div class="button_animated"> <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M23.725 5.33638C23.7248 5.3361 23.7245 5.33577 23.7242 5.33549L18.8256 0.460497C18.4586 0.0952939 17.865 0.096653 17.4997 0.463684C17.1345 0.830668 17.1359 1.42425 17.5028 1.7895L20.7918 5.06249H0.9375C0.419719 5.06249 0 5.48221 0 5.99999C0 6.51777 0.419719 6.93749 0.9375 6.93749H20.7917L17.5029 10.2105C17.1359 10.5757 17.1345 11.1693 17.4998 11.5363C17.865 11.9034 18.4587 11.9046 18.8256 11.5395L23.7242 6.66449C23.7245 6.66421 23.7248 6.66388 23.7251 6.6636C24.0923 6.29713 24.0911 5.70163 23.725 5.33638Z" fill="#ffffff"></path> </svg>
                                        <div class="shape"></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-lg-6 order_2" style="display: flex;justify-content: end;">
                    <img class="img-fluid shadow-lg" style="width: 875px;height: auto;filter: sepia(0);" src="{% static 'img/VlatkoE1.jpg' %}" alt="">
                </div>

            </div>


            <!-- Dilatum Jazz Quartet -->
            <div class="row g-0 first_area_s4 l_janj_cont">

                <div class="col-lg-6 mar_r">
                    <img class="img-fluid shadow-lg" style="width: 875px;height: auto;filter: sepia(50%);" src="{% static 'img/diletun.jpg' %}" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="h-100 col_9 mar_l">
                        <div class="box_content" style="">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p class="mb-0 position-relative" style="color: white;">
                                        29.06.2024
                                    </p>
                                </div>

                                <div>
                                    <div class="ticket_buttonX" style="background-color: #fdce79;padding:.5rem 1rem;"> <a class="txt_decoration" style="color:#1d2932;font-weight: 800;" href="https://www.entrio.hr/en/event/music-breeze-vis-18574" data-wpel-link="internal">Buy Ticket</a> </div>
                                </div>
                            </div>
                            <hr>

                            <h2 class="mb-5" style="color: white;font-weight: 700;">
                                Dilatum Jazz Quartet
                            </h2>


                            <div class="link" style="z-index: 1;">
                                <a href="{% url 'vis_breeze:dilatum' %}" style="text-decoration: none;"> <span> More Info </span>
                                    <div class="button_animated"> <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M23.725 5.33638C23.7248 5.3361 23.7245 5.33577 23.7242 5.33549L18.8256 0.460497C18.4586 0.0952939 17.865 0.096653 17.4997 0.463684C17.1345 0.830668 17.1359 1.42425 17.5028 1.7895L20.7918 5.06249H0.9375C0.419719 5.06249 0 5.48221 0 5.99999C0 6.51777 0.419719 6.93749 0.9375 6.93749H20.7917L17.5029 10.2105C17.1359 10.5757 17.1345 11.1693 17.4998 11.5363C17.865 11.9034 18.4587 11.9046 18.8256 11.5395L23.7242 6.66449C23.7245 6.66421 23.7248 6.66388 23.7251 6.6636C24.0923 6.29713 24.0911 5.70163 23.725 5.33638Z" fill="#ffffff"></path> </svg>
                                        <div class="shape"></div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>


    <!-- thrid_area 30/06/24 -->
    <div class="first_area" style="background-color: #cce9ec;background-color: #f4f7fb;">
        <div class="winter-footer__content first_area_s1" style="background-color: #cce9ec;background-color: #f4f7fb;">

            <div class="timeline-item__year-background d-flex justify-content-end align-items-center curr_date shadow" style="
                background-color: whitesmoke;
                border-radius: 5px;
                text-align: center;
                filter: sepia(15%);
                border: solid 3px white;
            ">30/06/24
            </div>

            <style>
                .first_area_s3 h2 {
                    color: #1c2831
                }
            </style>



            <!-- Matija Dedic Quarter -->
            <div class="first_area_s3">
                <h2>Matija Dedic Quartet (feat. Lu Dedic)</h2>
            </div>
            <!-- Matija Dedic Quarter -->
            <div class="row g-0 first_area_s4">

                <div class="col-lg-9">
                    <img class="img-fluid shadow-lg" style="width: 875px;height: auto;" src="{% static 'img/matija_lu.jpg' %}" alt="">
                </div>
                <div class="col-lg-3">
                    <div class="h-100 col_9">

                        <p class="mb-3" style="color: white;">
                            30.06.2024
                        </p>
                        <h5 style=" padding-bottom: 1.5rem;color: white;font-weight: 600;">
                            Storytelling
                        </h5>
                        <p style="color: white;font-weight: 300;">
                            Born in Zagreb on March 2nd 1973., Matija started playing classic piano at the age of five. After he finished Music high school “Vatroslav Lisinski” in 1991., went to Graz to Jazz Academy where he graduated in 1997. under prof. Harald Neuwirth and private
                            lessons with J. Taylor in cologne, Hal Galper, Bill Dobins and Barry Harris.
                        </p>

                        <div class="link" style="z-index: 1;">
                            <a href="{% url 'vis_breeze:matija' %}" style="text-decoration: none;"> <span> More Info </span>
                                <div class="button_animated"> <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M23.725 5.33638C23.7248 5.3361 23.7245 5.33577 23.7242 5.33549L18.8256 0.460497C18.4586 0.0952939 17.865 0.096653 17.4997 0.463684C17.1345 0.830668 17.1359 1.42425 17.5028 1.7895L20.7918 5.06249H0.9375C0.419719 5.06249 0 5.48221 0 5.99999C0 6.51777 0.419719 6.93749 0.9375 6.93749H20.7917L17.5029 10.2105C17.1359 10.5757 17.1345 11.1693 17.4998 11.5363C17.865 11.9034 18.4587 11.9046 18.8256 11.5395L23.7242 6.66449C23.7245 6.66421 23.7248 6.66388 23.7251 6.6636C24.0923 6.29713 24.0911 5.70163 23.725 5.33638Z" fill="#ffffff"></path> </svg>
                                    <div class="shape"></div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>



            <!-- Vasil Hadzimanov Band -->
            <div class="l_janj_title">
                <h2 class="">Vasil Hadžimanov Band</h2>
                <!-- <hr> -->
            </div>
            <!-- Vasil Hadzimanov Band -->
            <div class="row g-0 l_janj_cont">

                <div class="col-lg-3 order_1">
                    <div class="h-100 l_janj_m shadow-lg">

                        <p class="mb-3  position-relative" style="color: white;">
                            30.06.2024
                        </p>
                        <h5 style=" padding-bottom: 1.5rem;color: white;font-weight: 600;">
                            Storytelling
                        </h5>
                        <p style="color: white;font-weight: 300;">
                            Vasil’s idea of combining Balkan traditional, folk rhythms and western, modern music styles (jazz, funk, rock, progressive, world music …) is completely authentic in his music, and is a unique approach to jazz music.
                        </p>


                        <div class="link" style="z-index: 1;">
                            <a href="{% url 'vis_breeze:vasil' %}" style="text-decoration: none;"> <span> More Info </span>
                                <div class="button_animated"> <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M23.725 5.33638C23.7248 5.3361 23.7245 5.33577 23.7242 5.33549L18.8256 0.460497C18.4586 0.0952939 17.865 0.096653 17.4997 0.463684C17.1345 0.830668 17.1359 1.42425 17.5028 1.7895L20.7918 5.06249H0.9375C0.419719 5.06249 0 5.48221 0 5.99999C0 6.51777 0.419719 6.93749 0.9375 6.93749H20.7917L17.5029 10.2105C17.1359 10.5757 17.1345 11.1693 17.4998 11.5363C17.865 11.9034 18.4587 11.9046 18.8256 11.5395L23.7242 6.66449C23.7245 6.66421 23.7248 6.66388 23.7251 6.6636C24.0923 6.29713 24.0911 5.70163 23.725 5.33638Z" fill="#ffffff"></path> </svg>
                                    <div class="shape"></div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>


                <div class="col-lg-9 order_2" style="display: flex;justify-content: end;">
                    <img class="img-fluid shadow-lg" style="width: 875px;height: auto;filter: sepia(0);" src="{% static 'img/vasil_1E.webp' %}" alt="">
                </div>

            </div>




        </div>


    </div>

</section>
<style>
    .bg_t1 {
        background-color: #cce9ec;
        background-color: #d8e8df;
    }
</style>
<script>
    // var $doc = $(document),
    //     $body = $('.bg_t1'),
    //     y = $doc.scrollTop(),
    //     color1 = 0,
    //     color2 = 5;

    // $doc.on('scroll', function() {
    //     y = $doc.scrollTop();
    //     color1 = y / 70;
    //     color2 = color1 + 180;
    //     $body.css('background-color', 'hsla(' + color1 + ', 15%, 75%, 1)');
    //     $body.find('h2').css('color', 'hsla(' + color2 + ', 95%, 40%, 1)');
    // });
</script>

{% endblock content %}