{% extends "core/base.html" %} {% block title %} Home | {% endblock title %} {% load static %} {% block content %}

<style>

</style>

<section>
    <div id="lana" class="container-fluid px-0  bg_artist">
        <div class=" artist_main_width">
            <div class="artist_py">
                <div class="artist_2b p-0" style="position: relative;">
                    <div class="artist_caption">

                        <div class="art_flex">
                            <div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="date_fs">28</div>
                                    <div class="ms-3">
                                        <div class="font_light">Jun, 2024</div>
                                        <div class="font_light">
                                            <h5> Poluotok Prilovo, Vis Croatia</h5>
                                        </div>
                                    </div>
                                </div>

                                <h2 class="mb-0 font_light ">Macedonian National Jazz Orchestra</h2>
                            </div>

                            <div class="art_mb-2">
                                <div class="ticket_atrist ticket_flex1"> <a class="txt_decoration" style="color:white" href="https://www.entrio.hr/en/event/music-breeze-vis-18574" target="_blank"> Tickets </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="artist_w1">
                <div>
                    <p>
                        The main purpose that unites the activities of our association is to contribute to affirmation of Macedonian jazz music through promotion of production and performance of authorial jazz music created and performed by Macedonian jazz composers and musicians,
                        hence to increase their media presence and presentation at local festivals and abroad.
                    </p>
                    <p>
                        The association's activities include education of young talents and music enthusiasts through organized workshops all through the year, held by the members of the Association who are professors at the Faculties of music in Skopje and Stip. Of course,
                        the possibility of inviting educators from abroad who will share their knowledge is not excluded.
                    </p>

                    <p>
                        Furthermore, the association of Jazz musicians and free artists organizes various thematic jazz events and thanks to its urban dimension, it brings the jazz culture closer to the audience, being of particular importance for both, the Macedonian jazz music
                        and culture. Inviting eminent jazz musicians from abroad additionally makes our goal broader.
                    </p>
                    <p>
                        Within the association operates and Big Band which is consisted of members of the Association, but we often cooperate with musicians from abroad. The program of our Big Band includes compositions created by Macedonian jazz composers of the younger generations,
                        as well as works made by the great giants and founders of the Macedonian jazz music, also appreciating the jazz standards.

                    </p>

                </div>
                <div class="pt-5">
                    <div class="d-flex">
                        <a href="https://www.facebook.com/nacionalenjazzorkestar/" class="link_hover" style="text-decoration: underline;" target="_blank">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="svg_artist_dark bi bi-facebook me-1 link_hover" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"></path>
                          </svg> Macedonian National Jazz Orchestra
                        </a>
                        </div>
                    </div>

                    <!-- video -->
                    <div class="pt-5">

                        <div class="row">
                            <div class="col-lg-6 video_flex">
                                <div class="video_div">
                                    <iframe class="video_width" src="https://www.youtube.com/embed/XhzSYSFJQ3E" title="LIVE - NATIONAL JAZZ ORCHESTRA I RAMBO AMADEUS   &quot;ČUDO NA BALKANOT&quot;, SKOPJE,  2023." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-lg-6 video_flex">
                                <iframe class="video_width" src="https://www.youtube.com/embed/4gbe6NVVtbE" title="16. Jedno te isto - Rambo Amadeus i National Jazz Orchestra, Skopje" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                            <div class="col-lg-4">

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
</section>





{% endblock content %}

<!-- <img style="width: 125px;height: auto;" src="{% static 'img/1_logo-lana-janjanin.svg' %}" alt=""> -->