{% extends "core/base.html" %} {% block title %} Home | {% endblock title %} {% load static %} {% block content %}

<style>

</style>

<section>
    <div id="lana" class="container-fluid px-0  bg_artist">
        <div class=" artist_main_width">
            <div class="artist_py">
                <div class="artist_3b p-0" style="position: relative;">
                    <div class="artist_caption">

                        <div class="art_flex">
                            <div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="date_fs">29</div>
                                    <div class="ms-3">
                                        <div class="font_light">Jun, 2024</div>
                                        <div class="font_light">
                                            <h5> Poluotok Prilovo, Vis Croatia</h5>
                                        </div>
                                    </div>
                                </div>

                                <h2 class="mb-0 font_light ">Zashto Kafka?</h2>
                            </div>

                            <div class="art_mb-2">
                                <div class="ticket_atrist ticket_flex1"> <a class="txt_decoration" style="color:white" target="_blank" href="https://www.entrio.hr/en/event/music-breeze-vis-18574"> Tickets </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="artist_w1">
                <div>
                    <p>
                        Band Why Kafka? was created as a result of the long-term joint work of the three authors, through previous instrumental compositions that did not see their official releases (Mantra and PUT).
                    </p>
                    <p>
                        In this process of transformation, the form of the trio crystallized by itself, which began with the shaping of new and reshaping of old compositions. The music that the band creates has not yet been defined by a genre, and the influences of the progressive
                        music of the seventies and the modern sound of today can be felt in it. The classical form of the song is not necessary for the band to tell its story through its unique sound. That story always has a question mark at the end of
                        the sentence.
                    </p>

                    <p>
                        Why Kafka? in 2017, they released a digital edition of their self-titled debut album, and the publisher is Metropolis Music from Belgrade. It was recorded in the "So What" studio in Belgrade, and the production was done by Vladimir Novičić, a renowned
                        musician, producer and author.
                    </p>
                    <p>
                        The album, which is available on all known digital platforms, consists of 5 tracks, and the band is already working hard on new songs that will be on the second release. So far, they have performed at festivals in the country and the region (Dev9t Art
                        Festival - Belgrade, Javorwood Festival - Bjelašnica, Roland Jazz Festival - Lunca Ilvei, Transilvania, Outhide Festival - Zaječar, Nišvil Jazz Festival - Niš, Karusel Festival - Čačak...)

                    </p>
                    <p>
                        Aliquam mauris tortor, sodales et tincidunt sit amet, They have been working as a quartet together with Aleksandar Jovan Krstić since almost.
                    </p>

                    <p style="font-weight: 700;">Marko Panić <span style="font-weight: 500;">– guitar</span> </p>
                    <p style="font-weight: 700;">Ljubiša Milošević <span style="font-weight: 500;">– drums</span> </p>
                    <p style="font-weight: 700;">Siniša Hadži‐Antić <span style="font-weight: 500;">– bass guitar</span> </p>
                    <p style="font-weight: 700;">Aleksandar Jovan Krstić <span style="font-weight: 500;">– EWI, keyboards</span> </p>
                </div>
                <div class="pt-5">
                    <div class="d-flex">
                        <a href="https://www.facebook.com/WhyKafka/" class="d-flex" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#e2b365" class="bi bi-facebook" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"></path>
                          </svg>

                            <p class="ms-2" style="color:#e2b365">Zashto Kafka? </p>
                        </a>


                    </div>
                </div>

                <!-- video -->
                <div class="pt-5">

                    <div class="row">
                        <div class="col-lg-6 video_flex">
                            <div class="video_div">
                                <iframe class="video_width" src="https://www.youtube.com/embed/8fKQw3l2Uq0?list=PLjL0EbX4fRpGsJiGChzsxvgIQLz7OGSfN" title="Zashto Kafka? 18.09.2020" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-lg-6 video_flex">
                            <iframe class="video_width" src="https://www.youtube.com/embed/zP02pKldAs8?list=PLjL0EbX4fRpGsJiGChzsxvgIQLz7OGSfN" title="Zashto Kafka? 18.09.2020" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-4">

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</section>





{% endblock content %}

<!-- <img style="width: 125px;height: auto;" src="{% static 'img/1_logo-lana-janjanin.svg' %}" alt=""> -->