{% extends "core/base.html" %} {% block title %} Home | {% endblock title %} {% load static %} {% block content %}

<style>

</style>

<section>
    <div id="lana" class="container-fluid px-0  bg_artist">
        <div class=" artist_main_width">
            <div class="artist_py">
                <div class="artist_3b p-0" style="position: relative;">
                    <div class="artist_caption">

                        <div class="art_flex">
                            <div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="date_fs">29</div>
                                    <div class="ms-3">
                                        <div class="font_light">Jun, 2024</div>
                                        <div class="font_light">
                                            <h5> Poluotok Prilovo, Vis Croatia</h5>
                                        </div>
                                    </div>
                                </div>

                                <h2 class="mb-0 font_light ">Zashto Kafka?</h2>
                            </div>

                            <div class="art_mb-2">
                                <div class="ticket_atrist ticket_flex1"> <a class="txt_decoration" style="color:white" target="_blank" href="https://www.entrio.hr/en/event/music-breeze-vis-18574"> Tickets </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="artist_w1">
                <div>
                    <p>
                        Ne zna se tačan datum nastanka benda Zašto Kafka?. Možda je još uvijek u nastajanju u neprestanom procesu stvaranja. 'Sve dok tražimo, stvaramo; dokle god stvaramo, postojimo.'
                    </p>
                    <p>
                        Ova ekipa muzičara poznata je po svojoj originalnosti i sposobnosti da odvedu gledatelje na emotivnu vožnju toboganom.
                    </p>
                    <p>
                        Njihova glazba, koja briše granice među žanrovima i crpi iz progresivnog zvuka 70-ih i modernih ritmova, od King Crimson-a, Allan Holdsworth-a do J Dilla, stvara jedinstven zvučni narativ.
                    </p>
                    <p>
                        S njihovim jedinstvenim pristupom pripovijedanju i sposobnošću da svakome ponude nešto posebno, ovo će zasigurno biti događaj koji se ne smije propustiti.
                    </p>

                    <p class="mb-5">
                        Zašto Kafka? će na festivalu Island Vis Music Breeze nastupiti u sastavu:
                    </p>


                    <p style="font-weight: 700;"> Kosta Paunović <span style="font-weight: 500;">– guitar</span> </p>
                    <p style="font-weight: 700;">Aleksa Milijanović <span style="font-weight: 500;">– drums</span> </p>
                    <p style="font-weight: 700;">Siniša Hadži‐Antić <span style="font-weight: 500;">– bass guitar</span> </p>
                    <p style="font-weight: 700;">Bojan Cvetković <span style="font-weight: 500;">– EWI, keyboards</span> </p>
                </div>



                <!--  -->


                <!--  -->

                <div class="pt-5">
                    <div class="d-flex">
                        <a href="https://www.facebook.com/WhyKafka/" class="d-flex" target="_blank" style="text-decoration: underline;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-facebook svg_artist_dark" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"></path>
                          </svg>

                            <p class="ms-2">Zashto Kafka? </p>
                        </a>


                    </div>
                </div>

                <!-- video -->
                <div class="pt-5">

                    <div class="row">
                        <div class="col-lg-6 video_flex">
                            <div class="video_div">
                                <iframe class="video_width" src="https://www.youtube.com/embed/8fKQw3l2Uq0?list=PLjL0EbX4fRpGsJiGChzsxvgIQLz7OGSfN" title="Zashto Kafka? 18.09.2020" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-lg-6 video_flex">
                            <iframe class="video_width" src="https://www.youtube.com/embed/zP02pKldAs8?list=PLjL0EbX4fRpGsJiGChzsxvgIQLz7OGSfN" title="Zashto Kafka? 18.09.2020" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-4">

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</section>





{% endblock content %}

<!-- <img style="width: 125px;height: auto;" src="{% static 'img/1_logo-lana-janjanin.svg' %}" alt=""> -->