{% extends "core/base.html" %} {% block title %} Home | {% endblock title %} {% load static %} {% block content %}

<style>

</style>

<section>
    <div id="lana" class="container-fluid px-0  bg_artist">
        <div class=" artist_main_width">
            <div class="artist_py">
                <div class="artist_lb p-0" style="position: relative;">
                    <div class="artist_caption">

                        <div class="art_flex">
                            <div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="date_fs">28</div>
                                    <div class="ms-3">
                                        <div class="font_light">Jun, 2024</div>
                                        <div class="font_light">
                                            <h5> Poluotok Prilovo, Vis Croatia</h5>
                                        </div>
                                    </div>
                                </div>

                                <h2 class="mb-0 font_light ">Lana Janjanin Quartet</h2>
                            </div>

                            <div class="art_mb-2">
                                <div class="ticket_atrist ticket_flex1"> <a class="txt_decoration" style="color:white" href="https://www.entrio.hr/en/event/music-breeze-vis-18574" target="_blank"> Tickets </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="artist_w1">
                <div>
                    <p>
                        The 29-year-old composer, singer-songwriter and pianist Lana Janjanin was born in Zagreb, Croatia into a musical family. She started studying music at the age of 4 in her hometown, majoring in piano and music theory. At the age of 18 she enrolled in the
                        study of classical composition at the prestigious “University for Music and Performing Arts” in Vienna, Austria, as the youngest in her class. She majored in Media Composition, attaining a master’s degree at 23.
                    </p>
                    <p>
                        Alongside Lana’s classical education, she developed a strong passion for jazz, soul/R&B and pop music. Her exploration of these genres, in which she is self-taught, has greatly influenced her work over the years. She started writing her songs and performing
                        them on the piano, which later led to forming her own ensembles and collaborations with big bands.
                    </p>

                    <p>
                        Throughout her musical career, she regularly composed for and performed with the Croatian Radiotelevision HRT Jazz Orchestra. The collaboration was crowned in 2018 by the release of "Miracles" - a double album for which Lana and her fellow composer colleague
                        Dina Rizvić composed, arranged, sung and played their opus for the jazz orchestra, presenting the first women in the history of Croatia (and the region) to have done so.
                    </p>
                    <p>
                        Along with this CD, in late 2018 Lana is released “A Minute of Love” - yet another album of her original music recorded with her own ensemble.
                    </p>
                    <p>
                        In 2019 Lana was nominated for the prestigious Croatian discography award Porin in the category Best New Artist.
                    </p>
                </div>
                <div class="pt-5">
                    <a href="https://lanajanjanin.com/node/1" target="_blank">www.lanajanjanin.com</a>
                </div>

                <!-- video -->
                <div class="pt-5">

                    <div class="row">
                        <div class="col-lg-6 video_flex">
                            <div class="video_div">
                                <iframe class="video_width" src="https://www.youtube.com/embed/NFivH-k6hQM" title="Lana Janjanin Quartet - &quot;A Minute of Love&quot; Album Release LIVE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-lg-6 video_flex">
                            <iframe class="video_width" src="https://www.youtube.com/embed/vUAI6VwmfSM" title="Lana Janjanin Trio @ Fest Jazza 2017" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                                allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-4">

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</section>





{% endblock content %}

<!-- <img style="width: 125px;height: auto;" src="{% static 'img/1_logo-lana-janjanin.svg' %}" alt=""> -->