{% extends "core/base.html" %} {% block title %} Home | {% endblock title %} {% load static %} {% block content %}

<style>

</style>

<section>
    <div id="lana" class="container-fluid px-0  bg_artist">
        <div class=" artist_main_width">
            <div class="artist_py">
                <div class="artist_6b p-0" style="position: relative;">
                    <div class="artist_caption">

                        <div class="art_flex">
                            <div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="date_fs">30</div>
                                    <div class="ms-3">
                                        <div class="font_light">Jun, 2024</div>
                                        <div class="font_light">
                                            <h5> Poluotok Prilovo, Vis Croatia</h5>
                                        </div>
                                    </div>
                                </div>

                                <h2 class="mb-0 font_light ">Matija Dedic Quartet(feat. Lu Dedic)</h2>
                            </div>

                            <div class="art_mb-2">
                                <div class="ticket_atrist ticket_flex1"> <a class="txt_decoration" style="color:white" href="https://www.entrio.hr/en/event/music-breeze-vis-18574"> Tickets </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="artist_w1">

                <!-- promotional artist info -->
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis varius pharetra. Pellentesque tincidunt, sapien vitae ultrices dapibus, augue mauris fermentum lectus, sit amet fermentum mi neque eget lacus. Vivamus vehicula mi id tellus dictum
                        suscipit. Vivamus sit amet finibus purus, malesuada tempus massa. Cras pharetra volutpat orci et tempus. Suspendisse metus orci, venenatis ac nibh at, accumsan vulputate est.
                    </p>
                    <p>
                        Nulla est justo, mollis ac convallis at, congue a nibh. Phasellus rhoncus feugiat est a viverra. Curabitur cursus, ipsum in blandit elementum, metus erat volutpat arcu, vitae blandit ligula dui ac lectus. Integer accumsan, augue id pellentesque fermentum,
                        nunc ipsum aliquet tellus, accumsan consequat est sem eget urna. Ut mattis non arcu tempus congue. Aenean blandit mi a ligula semper faucibus.
                    </p>

                    <p>
                        Quisque ut est augue. Fusce vehicula, leo quis pellentesque facilisis, arcu purus maximus felis, a scelerisque turpis nulla et sapien. Donec pharetra fermentum nulla ac consectetur. Integer a nunc non mauris maximus elementum quis pellentesque tortor.
                        In accumsan lacus aliquet dui dapibus, ut tincidunt metus vehicula. Proin porta pretium nunc, sed ornare velit efficitur quis. Pellentesque placerat purus non nunc porttitor laoreet.
                    </p>
                    <p>
                        Nulla facilisi. Morbi id ex tincidunt, auctor est vitae, egestas risus. Nullam ipsum lacus, elementum vitae orci sed, ultricies ultrices quam.
                    </p>
                    <p>
                        Aliquam mauris tortor, sodales et tincidunt sit amet, efficitur vel nibh. In arcu tellus, gravida in metus vel, euismod rhoncus nunc. Proin pretium semper velit eu fermentum.
                    </p>
                </div>
                <!-- end promotional artist info -->
                <div class="pt-5">
                    <div class="d-flex">
                        <a href="https://matijadedic.com/" class="d-flex" target="_blank">
                            www.matijadedic.com
                        </a>


                    </div>
                </div>

                <!-- video -->
                <div class="pt-5">

                    <div class="row">
                        <div class="col-lg-6 video_flex">
                            <div class="video_div">
                                <iframe class="video_width" src="https://www.youtube.com/embed/Hb2mbjGE9MA " title="Matija Dedić - Ispod moga pramca (Tempera) (Official audio 2020) " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
                                    web-share " referrerpolicy="strict-origin-when-cross-origin " allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-lg-6 video_flex ">
                            <iframe class="video_width" src="https://www.youtube.com/embed/OBN7WAEzty0" title="Lu Dedić &amp; Matija Dedić - Zadnji sati ljeta, live (Official video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-4 ">

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</section>





{% endblock content %}

<!-- <img style="width: 125px;height: auto; " src="{% static 'img/1_logo-lana-janjanin.svg' %} " alt=" "> -->