{% extends "core/base.html" %} {% block title %} Home | {% endblock title %} {% load static %} {% block content %}

<style>

</style>

<section>
    <div id="lana" class="container-fluid px-0  bg_artist">
        <div class=" artist_main_width">
            <div class="artist_py">
                <div class="artist_6b p-0" style="position: relative;">
                    <div class="artist_caption">

                        <div class="art_flex">
                            <div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="date_fs">30</div>
                                    <div class="ms-3">
                                        <div class="font_light">Jun, 2024</div>
                                        <div class="font_light">
                                            <h5> Poluotok Prilovo, Vis Croatia</h5>
                                        </div>
                                    </div>
                                </div>

                                <h2 class="mb-0 font_light ">Matija Dedic Quartet (feat. Lu Dedic)</h2>
                            </div>

                            <div class="art_mb-2">
                                <div class="ticket_atrist ticket_flex1"> <a class="txt_decoration" style="color:white" target="_blank" href="https://www.entrio.hr/en/event/music-breeze-vis-18574"> Tickets </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="artist_w1">

                <!-- promotional artist info -->
                <div>
                    <p>
                        Born in Zagreb on March 2nd 1973., Matija started playing classic piano at the age of five. After he finished Music high school “Vatroslav Lisinski” in 1991., went to Graz to Jazz Academy where he graduated in 1997. under prof. Harald Neuwirth and private
                        lessons with J. Taylor in cologne, Hal Galper, Bill Dobins and Barry Harris.
                    </p>
                    <p>
                        Since he was raised in the family surounded by pop and traditional musicians, he began to listen to all kinds of music very early, soon discovering jazz and finding that it alowes him apstract and more personal musical point of view.
                    </p>

                    <p>
                        After returning to Zagreb in 1997. he beguins to play more often, and his work is recognized in and out of Croatia.
                    </p>
                    <p>
                        During those years he played with his own band “Boliers Quartet”, with whom he supported the likes of B. Golson, K. Burell, R. Haynes, J. Feliciano and “All Stars Band”. Meanwhile he also had a chance to play in in “Tamara Obrovac Quartet”.
                    </p>
                    <p>
                        Over the years he played in Italy, Germany, Slowakia, England, Brazil, Belgium, Turkey, Spain, Austria, Slovenia, Serbia, FYR of Macedoina, France, Denmark, Sweden, Switzerland, Hungary, Greece, Morocco, USA, Czech Republic, Bosnia, Republic of Kosovo,
                        Montenegro, Argentina, Portugal with names like Alvin Queen, Martin Drew, Ron Ringwood, Boško Petrovic, Marc Murphy Band, Patrizia Conte, David Gazarov, Gianni Basso, Miles Griffith, Onder Fokan, J.L. Rassinfosse, Anca Parghel,
                        Tomi Emanuel, Lenny White, Kendrick Scott, Jim Madison, Jeff Ballard, Vicente Archer, Buster Wiliams, L.arry Grenadier, N.H.O. Pedersen, Ron Mcclure, Tamara Obrovac, Marek Patrman, Salvatore Maiore, Antonio Sanchez, Scott Colley,
                        Gene Jackson, Bojan Z, John Hollenback, Joris Dudli, Rachid Zeroual, Bruno Castellucci, Catia Werneck, Howard Curtis, Melissa Aldana, Johannes Weidenmueller, Chris Cheek, Jonathan Blake, Matt Brewer, Flavio Davanzo, Simone Serafini,
                        Francesco Bearzatti, Carl Nevitt, Thomas Bramerie, Manu Katche, Gregory Hutchinson, Joe Sanders,Mehdi Nassouli, Klemens Marktl, Stefano Senni, Tommy Cambell, Marianne Solivan, Yaacov Mayman, Stafford Hunter, Calvin Jones etc.
                    </p>
                    <p>
                        He writtes music for television and theatre, and also occasionaly playes with some big pop names on Croatian music scene. Croatian authors society awarded him for the album “Octopussy” as the best author and best jazz newcomer in the last 10 years!
                    </p>
                    <p class="mb-5">
                        In July 2002. Matija performed on the Montreux Jazz Festival in France as one of the 11 finalists, that were chosen from more than 400 pianists around the world. His father Arsen Dedic riecieved awards Premio tenco and Jacques Brel and his mother Gabi
                        Novak while her careere sang with Luis Armstrong, Garry Burton, Phill Woods, Toots Tielmans, Hellen Merril, Joe Turner.
                    </p>
                    <p style="font-weight: 700;">Matija Dedić <span style="font-weight: 500;">– piano </span> </p>
                    <p style="font-weight: 700;">Lu Dedic <span style="font-weight: 500;">- vocal</span> </p>
                    <p style="font-weight: 700;">Timo Lassy <span style="font-weight: 500;">–  saxophone</span> </p>

                    <p style="font-weight: 700;">Adriano Bernobić <span style="font-weight: 500;">– drums </span> </p>
                    <p style="font-weight: 700;">Ivar Roban Križić <span style="font-weight: 500;">– double bass </span> </p>
                </div>
                <!-- end promotional artist info -->
                <div class="pt-5">
                    <div class="d-flex">
                        <a href="https://matijadedic.com/" class="d-flex" target="_blank">
                            www.matijadedic.com
                        </a>


                    </div>
                </div>

                <!-- video -->
                <div class="pt-5">

                    <div class="row">
                        <div class="col-lg-6 video_flex">
                            <div class="video_div">
                                <iframe class="video_width" src="https://www.youtube.com/embed/Hb2mbjGE9MA " title="Matija Dedić - Ispod moga pramca (Tempera) (Official audio 2020) " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
                                    web-share " referrerpolicy="strict-origin-when-cross-origin " allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-lg-6 video_flex ">
                            <iframe class="video_width" src="https://www.youtube.com/embed/OBN7WAEzty0" title="Lu Dedić &amp; Matija Dedić - Zadnji sati ljeta, live (Official video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-4 ">

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</section>





{% endblock content %}

<!-- <img style="width: 125px;height: auto; " src="{% static 'img/1_logo-lana-janjanin.svg' %} " alt=" "> -->