{% extends "core/base.html" %} {% block title %} Home | {% endblock title %} {% load static %} {% block content %}

<style>

</style>

<section id="programme_vis">


    <div class="container-flud p-0 banner_vis_wd_ht_light banner_bg position-relative -lg" style="height: 400px;">
        <div class="fixed-top nav_mask dynamic_mask" style="width: 100%;height: 70px;background-color: #09242d;z-index: 2;"></div>
        <div class="banner_mask">

            <div class="banner_text padd_banner_caption_light banner-caption_light">

                Vis Music Breeze
                <h2 class="mt-3" style="color:#09242d; font-weight: 300;">Paying Programme</h2>

                <!-- banner css -->
                <style>
                    #programme_vis h5 {
                        font-size: 1rem;
                    }
                    
                    .banner_mask {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        background-size: 100%;
                        /* background-color: rgba(0, 0, 0, .75); */
                        /* background-color: rgba(29, 41, 50, .92); */
                        background-color: rgb(255, 255, 255, .82);
                        z-index: 1;
                    }
                    
                    .banner_vis_wd_ht_light {
                        background-image: url(../../../static/img/vis-2jpg.jpg);
                        background-repeat: no-repeat;
                        width: 100%;
                        height: auto;
                        background-size: cover;
                        background-position: right 35% bottom 10%;
                    }
                    
                    .banner-caption_light {
                        z-index: 5;
                        white-space: normal;
                        font-size: 5rem;
                        line-height: 1;
                        font-weight: 700;
                        color: rgb(255, 255, 255);
                        letter-spacing: -1px;
                        border-width: 0px;
                        margin: 0px;
                        margin-bottom: 2rem;
                        color: whitesmoke;
                        color: #d8a44f;
                    }
                    
                    .padd_banner_caption_light {
                        padding: 10.5% 10% 0 10%;
                    }
                    
                    @media (max-width:1400px) {
                        .banner-caption_light {
                            font-size: 4rem;
                        }
                        .padd_banner_caption_light {
                            padding: 20.5% 10% 0 10%;
                        }
                    }
                    
                    @media (max-width:992px) {
                        .padd_banner_caption_light {
                            padding: 22.5% 10% 0 10%;
                        }
                    }
                    
                    @media (max-width:768px) {
                        .padd_banner_caption_light {
                            padding: 35.5% 5% 0 5%;
                        }
                        .banner-caption_light {
                            font-size: 3rem;
                        }
                    }
                    
                    @media (max-width:576px) {
                        .padd_banner_caption_light {
                            padding: 40.5% 5% 0 5%;
                        }
                        .banner-caption_light {
                            font-size: 4rem;
                            text-align: center;
                        }
                    }
                    
                    .y_divider {
                        background-color: #4a677c;
                        width: 1px;
                        margin: 0 40px 0 10px;
                        height: 150px;
                    }
                    
                    .bran_logo_container {
                        left: 5%;
                        bottom: -10%;
                        width: 50%;
                        height: 200px;
                        background-color: #e2b365;
                    }
                    
                    .brand_logo_tzv {
                        width: auto;
                        height: 125px;
                    }
                    
                    .brand_logo_3gonga {
                        font-size: 2.5rem
                    }
                    
                    @media (max-width:768px) {
                        .brand_logo_tzv {
                            width: auto;
                            height: 65px;
                        }
                        .brand_logo_3gonga {
                            font-size: 1.2rem;
                            margin-top: 1rem;
                        }
                        .bran_logo_container {
                            left: 5%;
                            bottom: -11.5%;
                            width: 90%;
                            height: 100px;
                            background-color: #e2b365;
                        }
                        .y_divider {
                            width: 1px;
                            margin: 0 20px 0 10px;
                            height: 75px;
                        }
                    }
                </style>


            </div>
        </div>
    </div>

    <div class="pr_main_content">
        <!-- content css -->
        <div class="programme_content pr_my_6">

            <div class="programme_content">
                <div class="pr_mb-6">
                    <h1 class="pr_text_center" style="font-weight: 500;letter-spacing: -1px;">Paying Programme</h1>
                </div>



                <div class="pr_flex">

                    <div class="wp-block-button button--secondary button--download pr_order_1 my--5 d-none">
                        <a class="wp-block-button__link position-relative" download="programme_vis_2024.pdf" type="application/pdf" href="{% url 'vis_breeze:pdf' %}" style="text-decoration: none;font-weight: 700;color:black">
                    VMB2024-Programme
                          </a>
                    </div>


                    <div class="d-flex align-items-center pr_order_2">
                        <a href="https://www.tz-vis.hr/" target="_blank">
                            <img class="brand_logo_tzv_programme" src="/static/img/tz-vis-logotip-mobile.png" alt="">
                        </a>

                        <div class="brand_logo_tzv ms-4 d-flex align-items-center w-100">
                            <a href="https://www.facebook.com/3gonga" target="_blank">
                                <img class="partners_img" style="width: 105px;" src="/static/img/3_1.svg" alt="Cetina">
                            </a>

                        </div>
                    </div>

                </div>


            </div>

        </div>

        <!-- content programme -->

        <div class="container-fluid  px-0" style="margin-bottom: 10rem;overflow: hidden;">
            <div class="container-fluid  py-3 px-0">
                <h1 class="offset-2 pr_text_center" style="font-weight: 500;">
                    Poluotok Prilovo Vis, Croatia
                </h1>
            </div>

            <!-- 28.06.2024 -->
            <div class="row ">
                <div class="col-lg-2 p-3" style="background-color: #ecf3fb;background-color: #e7c283;">
                    <hr class="d-lg--none">
                    <div class="ms-7 date_start">
                        <h5 class="week_day">FRIDAY</h5>
                        <h3 class="ms--7" style="color:#042531; font-weight: 700;margin-bottom: 0">28.06</h3>
                    </div>
                </div>
                <div class="col-lg-10 p-3">
                    <hr>
                    <div class="d-flex justify-content-between align-items-center w--50  link_external">
                        <h5 class="mb-0">

                            Grand Opening Night
                        </h5>

                        <div class="wp-block-button button--tertiary programme__schedule-cta position-relative">
                            <a style="text-decoration: none;" class="wp-block-button__link" href="https://www.entrio.hr/en/event/music-breeze-vis-18574" target="_blank" rel="noreferrer noopener">
                        Buy Ticket
                    </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <hr>
                            <h3>
                                <a href="{% url 'vis_breeze:jazz_orchestra' %}">
                            The National Jazz Orchestra
                        </a>
                            </h3>
                            <h5 class="mb-7">Macedonia</h5>

                            <div class="wp-block-button button--tertiary programme__schedule-cta position-relative">
                                <a href="https://www.facebook.com/nacionalenjazzorkestar/" class="link_external" style="text-decoration: underline;" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="svg_artist_dark bi bi-facebook me-1 link_external" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"></path>
                          </svg> National Jazz Orchestra
                                </a>
                                </a>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            <hr>
                            <h3>
                                <a href="{% url 'vis_breeze:lana_janjanin' %}">
                            Lana Janjanin Quartet
                        </a>
                            </h3>
                            <h5 class="mb-7">Croatia/Slovenia</h5>
                            <div class="wp-block-button button--tertiary programme__schedule-cta position-relative">
                                <a class="link_external" href="https://lanajanjanin.com/node/1" target="_blank">www.lanajanjanin.com</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!--  -->

            <!-- 29.06.2024 -->
            <div class="row ">
                <div class="col-lg-2 p-3" style="background-color: #ecf3fb;background-color: #e7c283;">

                    <hr class="d-lg--none">
                    <div class="ms-7 date_start">
                        <h5 class="week_day">SATURDAY</h5>
                        <h3 class="ms--7 mb-0" style="color:#042531; font-weight: 700;">29.06</h3>
                    </div>
                </div>
                <div class="col-lg-10 p-3">
                    <hr>
                    <div class="d-flex justify-content-between align-items-center w--50  link_external">
                        <h5 class="mb-0">

                            Second Night
                        </h5>

                        <div class="wp-block-button button--tertiary programme__schedule-cta position-relative">
                            <a style="text-decoration: none;" class="wp-block-button__link" href="https://www.entrio.hr/en/event/music-breeze-vis-18574" target="_blank" rel="noreferrer noopener">
                        Buy Ticket
                    </a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 py-4">


                            <h3>
                                <a href="{% url 'vis_breeze:kafka' %}">
                                Zashto Kafka?
                            </a>
                            </h3>
                            <h5 class="mb-7">Serbia</h5>

                            <div class="d-flex">
                                <a href="https://www.facebook.com/WhyKafka/" class="d-flex link_external" target="_blank" style="text-decoration: underline;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-facebook svg_artist_dark" viewBox="0 0 16 16">
                                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"></path>
                                  </svg>

                                    <p class="ms-3">Zashto Kafka? </p>
                                </a>


                            </div>

                        </div>
                        <hr class="d-3xl--none">
                        <div class="col-lg-4 py-4">

                            <h3>
                                <a href="{% url 'vis_breeze:vlatko' %}">
                                Vlatko Stefanovski Trio
                        </a>
                            </h3>
                            <h5 class="mb-7">Macedonia</h5>


                        </div>

                        <hr class="d-3xl--none">
                        <div class="col-lg-4 py-4">

                            <h3>
                                <a href="{% url 'vis_breeze:dilatum' %}">
                                Dilatum Jazz Quartet 
                        </a>
                            </h3>
                            <h5 class="mb-7">Croatia</h5>
                            <a href="https://m.facebook.com/story.php?story_fbid=pfbid02bLgViQNmSfGoHgDwFjL6Y8mzXZErF5GaPfq4b4L9zhFBMGC8o3PGi5AdG8ePG2sxl&amp;id=157359107660902" class="d-flex link_external" target="_blank" style="text-decoration: underline;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi bi-facebook svg_artist_dark" viewBox="0 0 16 16">
                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"></path>
                              </svg>

                                <p class="ms-3">Dilatum Jazz Quartet</p>
                            </a>

                        </div>
                    </div>

                </div>
            </div>
            <!--  -->

            <!-- 30.06.2024 -->
            <div class="row ">
                <div class="col-lg-2 p-3" style="background-color: #ecf3fb;background-color: #e7c283;">
                    <hr class="d-lg--none">

                    <div class="ms-7 date_start">
                        <h5 class="week_day">SUNDAY</h5>
                        <h3 class="mb-0 ms--7" style="color:#042531; font-weight: 700;">30.06</h3>
                    </div>
                </div>
                <div class="col-lg-10 p-3">
                    <hr>
                    <div class="d-flex justify-content-between align-items-center w--50">
                        <h5 class="mb-0">

                            Third Night
                        </h5>

                        <div class="wp-block-button button--tertiary programme__schedule-cta position-relative">
                            <a style="text-decoration: none;" class="wp-block-button__link" href="https://www.entrio.hr/en/event/music-breeze-vis-18574" target="_blank" rel="noreferrer noopener">
                        Buy Ticket
                    </a>
                        </div>
                    </div>
                    <hr>


                    <div class="row">
                        <div class="col-lg-4 py-4">

                            <h3>
                                <a href="{% url 'vis_breeze:matija' %}">
                                Matija Dedic Quartet(feat. Lu Dedic)
                        </a>
                            </h3>
                            <h5 class="mb-7">Croatia</h5>

                            <a href="https://matijadedic.com/" class="d-flex link_external" target="_blank">
                                www.matijadedic.com
                            </a>

                        </div>

                        <hr class="d-3xl--none">
                        <div class="col-lg-4 py-4">

                            <h3>
                                <a href="{% url 'vis_breeze:vasil' %}">
                                Vasil Hadžimanov Band
                        </a>
                            </h3>
                            <h5 class="mb-7">Serbia/Macedoania</h5>
                            <a href="https://www.vhband.com/ " class="d-flex link_external" target="_blank">
                                www.vhband.com
                            </a>

                        </div>
                    </div>

                </div>
            </div>
            <!--  -->

        </div>

        <!-- end content programme -->
    </div>
</section>







{% endblock content %}

<!-- <img style="width: 125px;height: auto; " src="{% static 'img/1_logo-lana-janjanin.svg' %} " alt=" "> -->