{% extends "core/base.html" %} {% block title %} Home | {% endblock title %} {% load static %} {% block content %}

<style>

</style>

<section>
    <div id="lana" class="container-fluid px-0  bg_artist">
        <div class=" artist_main_width">
            <div class="artist_py">
                <div class="artist_7b p-0" style="position: relative;">
                    <div class="artist_caption">

                        <div class="art_flex">
                            <div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="date_fs">30</div>
                                    <div class="ms-3">
                                        <div class="font_light">Jun, 2024</div>
                                        <div class="font_light">
                                            <h5> Poluotok Prilovo, Vis Croatia</h5>
                                        </div>
                                    </div>
                                </div>

                                <h2 class="mb-0 font_light ">Vasil Hadžimanov Band</h2>
                            </div>

                            <div class="art_mb-2">
                                <div class="ticket_atrist ticket_flex1"> <a class="txt_decoration" style="color:white" target="_blank" href="https://www.entrio.hr/en/event/music-breeze-vis-18574"> Tickets </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="artist_w1">

                <!-- promotional artist info -->
                <div>
                    <p>
                        Vasil’s idea of combining Balkan traditional, folk rhythms and western, modern music styles (jazz, funk, rock, progressive, world music …) is completely authentic in his music, and is a unique approach to jazz music.
                    </p>
                    <p>
                        In 2001, Vasil Hadzimanov Band released their first album “11 Reasons for …” under the Serbian label PGP-RTS, and the first print sold out in just three months. In 2002, they also won the “Beovizija” Festival award “Best Debut Album of the Year”.
                    </p>

                    <p>
                        In 2002, Vasil Hadzimanov Band joined Goran Paskaljevic and his film crew on a documentary about Belgrade, for ARTE television. For this documentary Vasil composed music, and the band, led by their percussionist Bojan Ivkovic, acted and played music in
                        the film. In this period, Vasil’s music could also be heard in the film “011 Belgrade”, by young Austrian director Michael Pfeifenberger, and in the film “When I Grow Up, I will be a Kangaroo.”
                    </p>
                    <p>
                        In 2003, they released their second album “Kafanki”, under the PGP-RTS label, which they successfully promoted throughout Europe. That same year, VHBand won the award “Best Instrumental Album of the Year” at the festival “Suncane Skale” in Montenegro.
                    </p>
                    <p>
                        In November 2003, VHBand performed at the “Enter Music” festival in Belgrade, sharing the stage with the famous Joe Zawinul and his band Zawinul Syndicate. Hearing how the band sounds live, Zawinul personally invited Vasil and his band to play in his
                        new club “Joe’s Birdland” in Vienna (Austria), in the spring of 2005.
                    </p>
                    <p>
                        In June 2004, VHBand was invited by violin virtuoso Nigel Kennedy to perform with him at his big Belgrade concert. This experience, and this performance were a pleasant surprise for both, the performers, and the numerous audiences. In August 2005, VHBand
                        presented Balkan music at the big world exhibition Expo 2005 Aichi in Japan, and were the only representative of Serbia and Montenegro. The Band experienced great success and had the highest number of visitors (over 3000) on the
                        EXPO DOME scene, a record thus far. This event was recorded in the documentary film “Bridge Eternal”, written and directed by Natasha Hadzimanov. In November 2005, VHBand held three very notable concerts in Paris, within the traditional
                        Cultural Centers of Europe Jazz Festival “Jazzy Colors”, again representing their country. In March and August 2006, they played two greatly attended and welcomed concerts in Trieste (Italy). In the spring of 2006, Vasil composed
                        music for the film “The Heartbeat” by director Mika Aleksic, which was presented at numerous film festivals.

                    </p>
                    <p>
                        In October 2007, again in cooperation with the PGP-RTS label, they released their third album entitled “3 – Sega Mu e Majkata”, which they successfully promoted throughout Serbia and Europe. In April 2009, they recorded their fourth album, “Života mi”,
                        which was rated by music critics as their best work so far, and the last album released in cooperation with the Serbian label PGP-RTS. In 2013, they promoted their fifth album “Can you dig it?”, which was released in digital format
                        by OverJazz Records music label from Hamburg (Germany), while the CD was released for the Zmex music label from Belgrade.

                    </p>
                    <p>
                        In 2016, VHBand made a big step up, releasing their sixth album, “Alive” for the prestigious American record label “MoonJune Records” from New York. The album was recorded live in five different cities, in five concert halls. Special guest on this album
                        was world famous and recognized saxophonist and author David Binney.
                    </p>
                    <p>Album “Alive” picked up many, and universally positive reviews around the world, and has been honored as one of the top releases of 2016, by the acclaimed American “DownBeat” music magazine. In the same year, all band members were
                        recognized as outstanding musicians, reaching the top in the 5 different charts, in their categories.

                    </p>
                    <p>
                        At the beginning of 2019, they released their seventh album “Lines in Sand” again in collaboration with the American music label “MoonJune Records”. This album again moved the boundaries of progressive music, which is recognized by fans and music critics
                        around the world, rewarding it with highest ratings, and great reviews.
                    </p>
                    <p>
                        Over the past 20 years, Vasil and his band have been successful in playing their music at concerts and music festivals all over the world.
                    </p>




                    <p style="font-weight: 700;">Vasil Hadzimanov <span style="font-weight: 500;">– piano</span> </p>
                    <p style="font-weight: 700;">Miroslav Tovirac <span style="font-weight: 500;">– bass guitar</span> </p>
                    <p style="font-weight: 700;">Rastko Obradovic <span style="font-weight: 500;">–  saxophone</span> </p>
                    <p style="font-weight: 700;">Ratko Dautovski <span style="font-weight: 500;">– percussion</span> </p>
                    <p style="font-weight: 700;">Viktor Filipovski <span style="font-weight: 500;">– drums</span> </p>



                </div>
                <!-- end promotional artist info -->
                <div class="pt-5">
                    <div class="d-flex">
                        <a href="https://www.vhband.com/ " class="d-flex" target="_blank">
                            www.vhband.com
                        </a>


                    </div>
                </div>

                <!-- video -->
                <div class="pt-5">

                    <div class="row">
                        <div class="col-lg-6 video_flex">
                            <div class="video_div">



                                <iframe class="video_width" src="https://www.youtube.com/embed/TLIgof3vY-8" title="Vasil Hadzimanov Band &quot;KEYF&quot; EPK Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-lg-6 video_flex ">
                            <iframe class="video_width" src="https://www.youtube.com/embed/eOfPysfPjro" title="Maklik | Vasil Hadzimanov Band LIVE @ BINTA SOUND" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-4 ">

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</section>





{% endblock content %}

<!-- <img style="width: 125px;height: auto; " src="{% static 'img/1_logo-lana-janjanin.svg' %} " alt=" "> -->